<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <PublishDir>bin\$(Configuration)\$(TargetFramework)\publish\</PublishDir>
    <GenerateAppxPackageOnBuild>true</GenerateAppxPackageOnBuild>
    <AppxBundle>Never</AppxBundle>
    <AppxBundlePlatforms>x64</AppxBundlePlatforms>
    <AppxPackageSigningEnabled>false</AppxPackageSigningEnabled>
    <AppxPackageDir>AppPackages\</AppxPackageDir>
  </PropertyGroup>
</Project>
